<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - CommunityBoard</title>
    <link rel="stylesheet" href="~/css/pages/layout.css" />
</head>
<body class="@ViewData["LayoutTheme"]">
    <header class="layout-header">
        <div class="header-inner">
            <a href="/" class="brand">J.S</a>
            <nav class="menu">
                <a href="/Notice">공지사항</a>
                <a href="/Free">자유게시판</a>
                <a href="/Qna">문의게시판</a>
                <a href="/Account/Login">로그인</a>
            </nav>
        </div>
    </header>

    <main class="layout-content">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>