@model CommunityBoard.Contracts.Requests.CreatePostRequest

@section Styles {
    <link rel="stylesheet" href="~/css/pages/posts-create.css" />
}

<section class="create-page">
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="CategoryId" />

        <label asp-for="Title" class="create-label  create-title-label">제목</label>
        <input asp-for="Title" class="create-field  create-title-input" placeholder="제목을 입력하세요" />

        <label asp-for="Content" class="create-label  create-content-label">내용</label>
        <textarea asp-for="Content" class="create-field  create-content-input" placeholder="내용을 입력하세요"></textarea>

        <button type="submit" class="create-submit">글쓰기</button>
    </form>
</section>