@using CommunityBoard.Contracts.Requests
@model UpdatePostRequest

@{
    ViewData["Title"] = "게시글 수정";
    var postId = (int)ViewData["PostId"]; // 컨트롤러에서 넣어준 값
}


<link rel="stylesheet" href="~/css/pages/post-create.css" />

<section class="create-page">
    
    <form asp-controller="Posts" asp-action="Edit" asp-route-id="@postId" method="post">
        @Html.AntiForgeryToken()

        
        <input type="hidden" asp-for="CategoryId" />
        <input type="hidden" asp-for="IsPinned" />

        <div asp-validation-summary="ModelOnly" class="validation"></div>

        
        <label asp-for="Title" class="create-label  create-title-label">제목</label>
        <input asp-for="Title" class="create-field  create-title-input" />
        <span asp-validation-for="Title" class="field-error"></span>

        <label asp-for="Content" class="create-label  create-content-label">내용</label>
        <textarea asp-for="Content" class="create-field  create-content-input"></textarea>
        <span asp-validation-for="Content" class="field-error"></span>

        <button type="submit" class="create-submit">수정</button>
    </form>
</section>